html, body, #root {
  height: 100%;
  margin: 0;
}

body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
  }
  
  h1, h2, h3, h4, h5, h6 {
    color: #343a40;
  }
  
  p {
    color: #6c757d;
  }
  
  a {
    color: #28a745;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  #root {
    flex: 1;
    display: flex;
    flex-direction: column;
  }